<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="images/seclude.png" class="img-fluid small" alt="">
    <h1 class="display-3">Anonymous Secrets!</h1>
    <%allsecrets.forEach((secret)=>{%>
      <p class="secret-text"><%=secret.secret%></p>
    <%});%>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
